# Spotify Integration credentials
# Do not commit real values to source control! Create a local `.env.local` for development.
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REFRESH_TOKEN=

# Resend Email Integration
RESEND_API_KEY=
CONTACT_EMAIL=
CONTACT_SENDER=
